{% comment %} ---------------------------------
* Collection swiper section 
* @author      Maxim <maxim.hladchuk@gmail.com>
* @copyright   Copyright (c) 2023 GmbH 
* ----------------------------- {% endcomment %}

{{ 'collections-swiper.css' | asset_url | stylesheet_tag }}

{% if section.settings.collection %}
  {% assign collection = collections[section.settings.collection] %}
  
  {% if collection %}
		<div class="page-width collection-swiper-wrapper">
			{% if section.settings.title %}
				<h2 class="collection-swiper_title">{{ section.settings.title }}</h2>
			{% endif %}
			<div class="collection-swiper-container">
				<div class="swiper collection-swiper">
					<div class="swiper-wrapper">
						{% for product in collection.products %}
							<div class="swiper-slide">
								<a href="{{ product.url }}">
									<img src="{{ product.featured_image | img_url: '450x450' }}" alt="{{ product.title | escape }}">
									<div class="collection-swiper-slide_content">
										<h3>{{ product.title }}</h3>
										<span class="price">{{ product.price | money }}</span>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
                        <div class="shadow"></div>
				</div>
				<div class="swiper-button-next">
					{% render 'icon-arrow-right' %}
				</div>
				<div class="swiper-button-prev">
					{% render 'icon-arrow-left' %}
				</div>
			</div>
			
		</div>
		{% if section.settings.link_text %}
			<div class="collection-swiper_link-wrapper">
				<a class="collection-swiper_link" href="{{ collection.url }}">{{ section.settings.link_text }}</a>
			</div>
		{% endif %}
  {% endif %}
{% endif %}

<script>
	var heroSwiper = new Swiper(".collection-swiper", {
		loop: true,
		slidesPerView: 1.1,
		spaceBetween: 7,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
			640: {
				slidesPerView: 3,
				spaceBetween: 2,
			}
		},
	});
</script>

{% schema %}
{
  "name": "Collection swiper",
  "tag": "section",
  "class": "section",
  "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection"
		},
		{
			"type": "text",
			"id": "link_text",
			"label": "Text for link"
		}
	],
  "presets": [
    {
      "name": "Collection swiper"
    }
  ]
}
{% endschema %}