{% comment %}
/* -----------------------------------------
* Mobile round swiper section 
* @author      Maxim <maxim.hladchuk@gmail.com>
* @copyright   Copyright (c) 2023 GmbH 
* ------------------------------------------
{% endcomment %}

{{ 'mobile-round-swiper.css' | asset_url | stylesheet_tag }}

<div class="page-width round-swiper" >
	<div class="round-swiper-wrapper" style="background-color: {{ section.settings.color_bg }}">
		<div class="round-swiper_title">
			{% if section.settings.title1 %}
				<span class="round-swiper_title-platform">{{ section.settings.title1 }}</span>
			{% endif %}
			{% if section.settings.title2 %}
				<span class="round-swiper_title-display">{{ section.settings.title2 }}</span>
			{% endif %}
		</div>
		<div class="swiper-container" >                          
		<div class="swiper sample-slider">
				<div class="swiper-wrapper">
						{% for block in section.blocks %}
								<div class="swiper-slide">
										<img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}">
								</div>
						{% endfor %}
				</div>
		</div>             
	<div class="swiper-round-button-prev">
		{% render 'icon-arrow-left' %}
	</div>              
	<div class="swiper-round-button-next">
		{% render 'icon-arrow-right' %}
	</div>              
</div> 
	<div class="round-swiper-link_wrapper">
		<a href="{{ section.settings.link }}" class="round-swiper-link">{{ section.settings.link_text }}</a>
	</div>
	</div>
	
</div>

{% if section.settings.mobile %}
	<style>
		@media (min-width: 641px) {
			#shopify-section-{{ section.id }} {
				display: none;
			}
		}
	</style>
{% endif %}                                   

<script>
    const swiper = new Swiper('.sample-slider', {
        loop: true,
        navigation: {
            nextEl: ".swiper-round-button-next",
            prevEl: ".swiper-round-button-prev",
        },
    })
</script>


{% schema %}
{
  "name": "Round swiper",
  "tag": "section",
  "class": "section",
  "settings": [
		{
			"type": "text",
			"id": "title1",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "title2",
			"label": "Title"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Link"
		},
		{
			"type": "text",
			"id": "link_text",
			"label": "Link text"
		},
		{
			"type": "checkbox",
			"id": "mobile",
			"label": "Hide on desktop",
			"default": true
		},
		{
			"type": "color",
			"id": "color",
			"label": "Text color"
		},
		{
			"type": "color",
			"id": "color_bg",
			"label": "Background color"
		}
	],
  "blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
  "presets": [
    {
      "name": "Round swiper"
    }
  ]
}
{% endschema %}